<!DOCTYPE html>
<html>
<head>
	<title>FreeTAXII - Collections Service</title>
	<meta name="author" content="Bret Jordan">
	<meta name="description" content="FreeTAXII - A TAXII 2 server">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table style="background-color: #800400; width: 100%; float: left;" cellpadding="3">
<tbody>
<tr>
<td><span style="color: #ffffff;">FreeTAXII - A TAXII 2 Server</span></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<h2 style="color: #2e6c80;">Collections Service</h2>
<table style="width: 100%; float: left;" cellspacing="3" cellpadding="3">
<tbody>
<tr>
<td style="width: 150px;">Path:</td>
<td>{{ .Path }}</td>
</tr>
<tr>
<td colspan="2"><hr width="100%"></td>
</tr>
{{ range .Resource.Collections }}
<tr>
<td>ID:</td>
<td><a href="{{ .Id }}">{{ .Id }}</a></td>
</tr>
<tr>
<td>Title:</td>
<td>{{ .Title }}</td>
</tr>
{{if .Description}}
<tr>
<td>Description:</td>
<td>{{ .Description }}</td>
</tr>
{{end}}
<tr>
<td>Can Read:</td>
<td>{{ .Can_read }}</td>
</tr>
<tr>
<td>Can Write:</td>
<td>{{ .Can_write }}</td>
</tr>
<tr>
<td style="vertical-align: top;">Media Types:</td>
<td>{{ range .Media_types }} {{ . }}<br> {{ end }}</td>
</tr>
<tr>
<td colspan="2"><hr width="100%"></td>
</tr>
{{ end }}
</tbody>
</table>
<p>&nbsp;</p>
<hr width="100%" />
<div style="text-align: center;"><span style="color: #949392; font-size: 75%;">Copyright 2017 - Bret Jordan</span></div>
</body>
</html>
