<!DOCTYPE html>
<html>
<head>
	<title>FreeTAXII - Collections Service</title>
	<meta name="author" content="Bret Jordan">
	<meta name="description" content="FreeTAXII - A TAXII 2 server">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table style="background-color: #800400; width: 100%; float: left;" cellpadding="3">
<tbody>
<tr>
<td><span style="color: #ffffff;">FreeTAXII - A TAXII 2 Server</span></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<h2 style="color: #2e6c80;">Collections Service</h2>

<p>Path: {{ .ResourcePath }}<br>
<hr width="100%"></p>

<table style="width: 100%; float: left;" cellspacing="3" cellpadding="3">
<thead>
<tr style="text-align: left">
	<th style="width: 275px;">ID</th>
	<th>Title</th>
	<th>Description</th>
	<th>Read</th>
	<th>Write</th>
	<th>Media Types</th>
</tr>
</thead>
{{ range .Resource.Collections }}
<tbody>
<tr>
	<td style="vertical-align: top;"><a href="{{ .ID }}/">{{ .ID }}</a></td>
	<td style="vertical-align: top;">{{ .Title }}</td>
	<td style="vertical-align: top;">{{ .Description }}</td>
	<td style="vertical-align: top;">{{ .CanRead }}</td>
	<td style="vertical-align: top;">{{ .CanWrite }}</td>
	<td style="vertical-align: top;">{{ range .MediaTypes }} {{ . }}<br> {{ end }}</td>
</tr>
{{ end }}
</tbody>
</table>
<p>&nbsp;</p>
<hr width="100%" />
<div style="text-align: center;"><span style="color: #949392; font-size: 75%;">Copyright 2017 - Bret Jordan</span></div>
</body>
</html>
