<!DOCTYPE html>
<html>
<head>
	<title>FreeTAXII - Collections Service</title>
	<meta name="author" content="Bret Jordan">
	<meta name="description" content="FreeTAXII - A TAXII 2 server">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table style="background-color: #800400; width: 100%; float: left;" cellpadding="3">
<tbody>
<tr>
<td><span style="color: #ffffff;">FreeTAXII - A TAXII 2 Server</span></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<h2 style="color: #2e6c80;">Collections Service</h2>

<p>Path: {{ .URLPath }}<br>
<hr width="100%"></p>

<table style="width: 100%; float: left;" cellspacing="3" cellpadding="3">
<tbody>
{{ range .Resource.Collections }}



<tr style="text-align: left">
	<td style="vertical-align: top;"><b>Title:</b> {{ .Title }}</td>
</tr>
<tr style="text-align: left">
	<td style="vertical-align: top;"><b>ID:</b> <a href="{{ .ID }}/">{{ .ID }}</a></td>
</tr>
<tr style="text-align: left">
	<td style="vertical-align: top;"><b>Read:</b> {{ .CanRead }}</td>
</tr>
<tr style="text-align: left">
	<td style="vertical-align: top;"><b>Write:</b> {{ .CanWrite }}</td>
</tr>
<tr style="text-align: left">
	<td style="vertical-align: top;"><b>Media Types:</b><br>{{ range .MediaTypes }} {{ . }}<br> {{ end }}</td>
</tr>
<tr style="text-align: left">
	<td style="vertical-align: top;"><b>Description:</b><br>{{ .Description }}</td>
</tr>
<tr style="text-align: left">
	<td style="vertical-align: top;"><hr width="100%"></td>
</tr>

{{ end }}
</tbody>
</table>
<p>&nbsp;</p>
<hr width="100%" />
<div style="text-align: center;"><span style="color: #949392; font-size: 75%;">Copyright 2017 - Bret Jordan</span></div>
</body>
</html>
